

<ion-content padding-top='150'>
<ion-card>
<ion-card-content>
  <ion-img src='http://www.supreloja.com.br/AppCode/WebContent/imagens/ImagensSite/logo.png'></ion-img>
</ion-card-content>
</ion-card>

<ion-list padding='10'>
  <ion-label type='text'>
    <h2>
      Login de Acesso
    </h2>
  </ion-label>  
  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
   
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type='password'></ion-input>
  </ion-item>
</ion-list>

</ion-content>
