<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Cadastro e Reserva de Mesas</ion-card-subtitle>
        <ion-card-title>Mesas Disponíveis</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Sem mesa disponível</p>
      </ion-card-content>
    </ion-card>
    
</ion-content>
